<div class="container">
    <div class="abs-center">
   
    <form action="#" class="border p-3 form">
        <label for="fname">nombres:</label><br>
        <input class="redondeado" type="text" id="fname" name="fname"#nombres><br>
        <label for="lname">apellidos:</label><br>
        <input class="redondeado"type="text" id="lname" name="lname"#apellidos><br>
        <label for="lname">deseo:</label><br>
        <input class="redondeado"type="text" id="ldeseo" name="ldeseo"#deseo><br>
        <br>
        <button	type="submit" class="btn btn-primary" 
        (click)="guardar(nombres.value, apellidos.value,deseo.value)">Guardar!</button>    
    </form>
    
    </div>
</div>

<hr	class="mb-5">
    <div	class="row row-flex">
        <app-deseos *ngFor="let d of destinos" [destinos]="d" ></app-deseos>
    </div>