@import url('~bootstrap/dist/css/bootstrap.css');

.abs-center {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 20vh;
  }
  
  .form {
    width: 600px;
  }



.button {
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.button1 {
  background-color: white;
  color: black;
  border: 2px solid #4CAF50;
}

.button1:hover {
  background-color: #4CAF50;
  color: white;
}

.button2 {
  background-color: white;
  color: black;
  border: 2px solid #008CBA;
}

.button2:hover {
  background-color: #008CBA;
  color: white;
}


.redondeado {
  border-radius: 5px;
}
.confondo {
  background-color: rgb(19, 185, 27);
}
